.App {
  text-align: center;
}


.clearfix {
    overflow: auto;
  }

body, html {
    height: 100%;
    margin: 0;
  }

nav {
  background-color: #deecfc;
  box-shadow: 5px 5px 5px black;

  }

#profile-pic {
    height: 300px;
    width: 300px;
    border-radius: 15px;
  
  }

#return-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 50px;
    width: 50px;
  }

#return-to-top:hover {
  transform: scale(1.2) !important;      
  background-color: transparent !important;      

  }

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
  }

#return-to-top:hover i {
    color: #fff;
    top: 5px;
  }

.navbar {
    min-height: 100px;
    font-size: 24px;

  }

.navbar-brand {
    font-size: 48px;

  }

.navbar-nav {
    margin-left: 150px;

  }

.card {
    padding-bottom: 5%;
    border-radius: 25px;
    background-color: #deecfc;
  }

.btn-proj {
    color: black;
    background-color: #b9ceeb;
  }

.bg-image-1, .bg-image-2, .bg-image-3, .bg-image-4 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bg-image-1 {
    background-image: url("./images/bg-image-1.jpg");
    min-height: 1000px;
  }

.bg-image-2 {
    background-image: url("./images/bg-image-2.jpg");
    min-height: 400px;
  }

.bg-image-3 {
    background-image: url("./images/bg-image-3.jpg");
    min-height: 800px;
  }

.bg-image-4 {
    background-image: url("./images/bg-image-4.jpg");
    min-height: 800px;
  }

.carousel {
  max-height: 750px;
  max-width: 750px;
  border-radius: 25px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }

.caption[caption_spec="top"]{
    top: 80%;
  } 

.caption[caption_spec="artwork"]{
    top: 80%;
  } 


.caption span.border {
    background-color: #c3b4d2;
    border-radius: 10px;
    color: black;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }

#mail-img {
    border-radius: 3px;
  }

#sc-div {
    padding-left: 83px !important;
  }

.text-container {
    position: relative;
    padding: 0;
    
  }

.text-area{
    background-color: #b9ceeb;
    color: black;
    font-size: 24px;
    font-family: 'KoHo', sans-serif;
    text-align: center;
    padding: 75px 75px;
    text-align: center;
  }

  

@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
  }
}

@media (max-width: 425px) {
  .text-area {
    padding: 10px;
    
    }

  .card {
    margin: 10px 0px;
    }

  #profile-pic {
      float: inherit !important;
      display: block;

    }

  #return-to-top {
      position: fixed;
      bottom: 25px;
      right: 25px;
      height: 25px;
      width: 25px;

    }

  #bio-text {
      font-size: 16px;
    }

  .text-container {
      padding-left: 0px;
      padding-right: 0px;
    }

  .contact-icon {
      margin: 10px 0px;
    }

  #sc-div {
      float: inherit;
      padding: 0 !important;
      display: block;
    }
  
}