.App {
  text-align: center;
}


.clearfix {
    overflow: auto;
  }

body, html {
    height: 100%;
    margin: 0;
  }

nav {
  background-color: #deecfc;

}
.card {
    height: 300px;
    border-radius: 25px;
    background-color: #deecfc;
  }

.btn-proj {
    color: black;
    background-color: #b9ceeb;
  }

.bg-image-1, .bg-image-2, .bg-image-3, .bg-image-4 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bg-image-1 {
    background-image: url("./images/bg-image-1.jpg");
    min-height: 1000px;
  }

.bg-image-2 {
    background-image: url("./images/bg-image-2.jpg");
    min-height: 400px;
  }

.bg-image-3 {
    background-image: url("./images/bg-image-3.jpg");
    min-height: 800px;
  }

.carousel {
  max-height: 750px;
  max-width: 750px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }

.caption[caption_spec="top"]{
    top: 80%;
  } 

.caption[caption_spec="artwork"]{
    top: 80%;
  } 


.caption span.border {
    background-color: #c3b4d2;
    color: black;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }

.text-container {
    position: relative;
    
  }

.text-area{
    background-color: #b9ceeb;
    color: black;
    font-size: 24px;
    font-family: Roboto;
    text-align: center;
    padding: 75px 75px;
    text-align: center;
  }


@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
  }
}